<div *ngIf="mensagens">
    <app-alerta [mensagens]="mensagens"></app-alerta>
</div>

<div class="col-md-12">
    <form method="POST" (submit)="salvar()">
        <div class="col-md-12 row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="valor">Valor</label>
                <input class="form-control" type="text" id="valor" name="valor" [(ngModel)]="pagamento.valor">
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="dataPagamento">Data do pagamento</label>
                <input class="form-control" type="date" id="dataPagamento" name="dataPagamento" [(ngModel)]="dataPagamento">
            </div>
        </div>
        <div class="col-md-12 row" style="margin-left: 0px">
            <div class="form-check col-md-12">
                <input type="checkbox" class="form-check-input" name="fixo" id="fixo" (click)="pagamentoFixo()" [(ngModel)]="pagamento.fixo">
                <label class="form-check-label" for="fixo">Pagamento fixo?</label>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="statusPagamento">Status do pagamento</label>
                    <select id="statusPagamento" name="statusPagamento" [(ngModel)]="pagamento.statusPagamento" class="form-control">
                        <option selected value="undefined">Selecione</option>
                        <option value="ARECEBER">A receber</option>
                        <option value="RECEBIDO">Recebido</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="pessoa">Pessoa</label>
                    <select class="form-control" [(ngModel)]="pagamento.pessoa.idPessoa" name="pessoa" id="pessoa">
                        <option value="undefined">Selecione</option>
                        <option *ngFor="let pessoa of pessoas" [value]="pessoa.idPessoa">{{pessoa.nome}}</option>
                    </select>
                </div>
            </div>
        </div>
       <!--  <div>
            <app-parcela [(pagamentoParcelado)]="pagamentoParcelado" [(parcela)]="parcela" [pagamento]="pagamento"></app-parcela>
        </div> -->
        <div class="col-md-12 row">
            <div class="col-md-12 row ">
                <div class="form-group col-md-12">
                    <label class="col-form-label" for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" placeholder="Ex.: Salário da empresa *****, encontrar ciclano em tal ponto para o pagamento, pagamento proveniente de venda de um veículo..."
                        [(ngModel)]="pagamento.descricao" name="descricao" id="descricao" maxlength="250" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
</div>