<p *ngFor="let mensagem of mensagens">
  <ngb-alert [type]="mensagem.tipoMensagem" (close)="closeAlert(mensagem)">
    <b>{{ mensagem.mensagemDesaque }} </b> {{mensagem.mensagem}}</ngb-alert>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Dt nascimento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.dataNascimento | date:'dd/MM/yyyy'}}</td>
      <td>
        <div class="btn-group mr-3">
          <button type="button" class="btn btn-primary" (click)="carregarPessoa(pessoa)">Abrir</button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="remover(pessoa)">Remover</button>
                <button class="dropdown-item" [routerLink]="['/pessoa/form', pessoa.idPessoa]">Editar</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
