<div class="container">
    <form method="POST" (submit)="salvar()">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="despesavalor" class="col-form-label">Valor</label>
                    <input type="text" class="form-control" name="despesavalor" id="despesavalor" [(ngModel)]="despesa.valor">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="dataVencimento" class="col-form-label">Data de vencimento</label>
                    <input type="date" [disabled]="despesa.parcelado" name="dataVencimento" class="form-control" id="dataVencimento" [(ngModel)]="despesa.dataVencimento">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="fixo" id="fixo" [(ngModel)]="despesa.fixo">
                    <label class="form-check-label" for="fixo" >Despesa fixa?</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="col-form-label" for="statusDespesa">Status da despesa</label>
                    <select id="statusDespesa" name="statusDespesa" [(ngModel)]="despesa.statusDespesa" class="form-control">
                        <option selected value="undefined">Selecione</option>
                        <option value="APAGAR">A pagar</option>
                        <option value="PAGO">Pago</option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="col-form-label" for="pessoa">Pessoa devedora</label>
                    <select class="form-control" name="pessoa" id="pessoa" [(ngModel)]="despesa.pessoa.idPessoa">
                        <option value="undefined">Selecione</option>
                        <option *ngFor="let pessoa of pessoas" [value]="pessoa.idPessoa">{{pessoa.nome}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!--  -->

        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="pagamentoParcelado" (click)="limparDataVencimento();" id="pagamentoParcelado" [(ngModel)]="despesa.parcelado">
                    <label class="form-check-label" for="pagamentoParcelado">Pagamento parcelado?</label>
                </div>
            </div>
        </div>

        <div *ngIf="despesa.parcelado">
            <div class="row">
                <hr>
                <div class="col-sm">
                    <div class="form-group">
                        <label class="col-form-label" for="qtdParcela">Quantidade de parcelas</label>
                        <input class="form-control" type="text" id="qtdParcela" (keyup)="calcularValorParcela(); calcularParcelas()" name="qtdParcela"
                            [(ngModel)]="qtdParcela">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label class="col-form-label" for="valor">Valor da parcela</label>
                        <input class="form-control" type="text" id="valor" name="valor" [(ngModel)]="parcela.valorParcela">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="foraDos30Dias" id="foraDos30Dias" [(ngModel)]="foraDos30Dias">
                        <label class="form-check-label" for="foraDos30Dias">Pagamento fora do intervalo de 30 dias</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label class="col-form-label" for="dataVencimento">Data do vencimento</label>
                        <input class="form-control" type="date" id="dataVencimento" name="dataVencimento" [(ngModel)]="dataVencimento">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label class="col-form-label" for="deQuantosEmQuantosDias">Pagável de quantos em quantos dias</label>
                        <input class="form-control" type="text" id="deQuantosEmQuantosDias" name="deQuantosEmQuantosDias" [(ngModel)]="deQuantosEmQuantosDias"
                            [disabled]="!foraDos30Dias">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="margin-bottom: 10px">
                    <i class="btn btn-info" (click)="calcularParcelas()">Calcular</i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <table *ngIf="parcelas.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Dt de vencimento</td>
                                <td>Valor da parcela</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let parcela of parcelas">
                                <td>{{parcela.dataVencimento | date : 'dd/MM/yyyy'}}</td>
                                <td>{{parcela.valorParcela | currency : 'R$ '}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group ">
                    <label class="col-form-label" for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" placeholder="Ex.: Pagamento da celular, conta de telefone, pagar fulano e/ou ciclano de tal"
                        [(ngModel)]="despesa.descricao" name="descricao" id="descricao" maxlength="250" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </div>
        <!--  -->
    </form>
</div>