<form (submit)="salvar()">
    <div class="form-group">
        <label for="valor" class="col-form-label">Valor</label>
        <input type="text" class="form-control" name="valor" id="valor" [(ngModel)]="despesa.valor">
    </div>

    <div class="form-group">
        <label for="dataVencimento">Data de vencimento</label>
        <input type="date" name="dataVencimento" class="form-control" id="dataVencimento" [(ngModel)]="despesa.dataVencimento">
    </div>

    <div class="form-group">
        <input type="checkbox" name="fixo" id="fixo" [(ngModel)]="despesa.fixo">
        <label for="fixo" class="col-form-label">Despesa fixa?</label>
    </div>

    <div class="form-group">
        <label class="col-form-label" for="statusDespesa">Status do pagamento</label>
        <select id="statusDespesa" name="statusDespesa" [(ngModel)]="despesa.statusDespesa" class="form-control">
            <option selected value="undefined">Selecione</option>
            <option value="ARECEBER">A receber</option>
            <option value="RECEBIDO">Recebido</option>
        </select>
    </div>

    <div class="form-group">
        <input type="checkbox" class="form-check-inp" ut name="maisDevedor" [(ngModel)]="maisDevedor" id="maisDevedor">
        <label for="maisDevedor" class="col-form-label">Incluir mais de uma pessoa?</label>
    </div>

    <div class="form-group" *ngIf="!maisDevedor">
        <label class="col-form-label" for="pessoa">Pessoa devedora</label>
        <select class="form-control" name="pessoa" id="pessoa" [(ngModel)]="pessoa">
            <option *ngFor="let pessoa of pessoas" [value]="pessoa.idPessoa">{{pessoa.nome}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="col-form-label" for="descricao">Descrição</label>
        <textarea class="form-control" id="descricao" placeholder="Ex.: Salário da empresa *****, encontrar ciclano em tal ponto para o pagamento, pagamento proveniente de venda de um veículo..."
            [(ngModel)]="despesa.descricao" name="descricao" id="descricao" maxlength="250" rows="3"></textarea>
    </div>

</form>

<div *ngIf="maisDevedor">
    <form (submit)="adicionarPessoa($event)">
        <div class="form-group">
            <label class="col-form-label" for="pessoa">Pessoa devedora</label>
            <select class="form-control" name="pessoa" id="pessoa" [(ngModel)]="pessoa">
                <option *ngFor="let pessoa of pessoas" [value]="pessoa.idPessoa">{{pessoa.nome}}</option>
            </select>
        </div>
        <button class="btn btn-primary">Adicionar Pessoa</button>

    </form>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
            </tr>
        </thead>
        <tbody *ngFor="let pessoa of pessoaDespesa">
            <tr>
                <td>{{pessoa.nome}}</td>
            </tr>
        </tbody>
    </table>
</div>