<form (submit)="requisicaoPessoa()" method="POST">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]]="pessoa.nome" placeholder="Digite um nome">
    </div>
    <div class="form-group">
        <label for="dataNascimento">Data de nascimento:</label>
        <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" [(ngModel)]]="pessoa.dataNascimento">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>